{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe maison.fr{% endblock %}

{% block body %}
<div class="container mb-4 mt-4">

    <div style="margin-left: 10%; width: 30%; background-color: rgb(241, 179, 45);; padding-left: 3%; padding-right: 3%; padding-top: 1%; padding-bottom: 5%;">

        <h2 style="margin-bottom: 30px;">Choisissez un nouveau mot de passe</h2>

        {{ form_start(form) }}

        {{ form_row(form.password) }}
        
        {{ form_row(form.passwordConfirm) }}

        <button type="submit">Valider</button>

        {{ form_end(form) }}
    </div>

</div>

{% endblock %}