{% extends 'base.html.twig' %}


{% block body %}
    <div class="container" style="margin-left: 29%; margin-top: 4.5%;">
        <h1 id="main-title">Prenez RDV avec un pro de l'Habitat</h1>

        <div>
            {{ form_start(form) }}
            <div style="display: flex; align-items: start;">
                {{ form_row(form.category, {
                    'label': false,
                    'attr': {'style': 'border: solid grey 1px; border-radius: 3px; padding: 8px; height: 50px; width: 300px; font-weight: 600; color: grey; padding-left: 15px;'}
                }) }}
                {{ form_row(form.city, {
                    'label': false, 
                    'attr': {
                        'style': 'border: solid grey 1px; border-left: solid white; border-radius: 3px; padding: 8px; height: 50px; width: 300px; font-weight: 600; color: grey; padding-left: 15px;', 
                        'placeholder': 'Où ?'
                        }
                }) }}
                <button type="submit" id="homeform-button" class="ms-2" style="height: 50px; width: 140px;">Rechercher</button>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="text-secondary" style="font-size: 0.8em;">
            Recherches fréquentes : peindre ma chambre, réparer une fuite d'eau, rénovation
        </div>
    </div>

    <div style="background-color: rgba(238, 232, 232, 0.925); margin-top: 110px; padding-top: 40px; height: 340px;">
        <h3 style="text-align: center; font-size: 1.5em;">Un service de prise de RDV recommandé !</h3>
    </div>

    <div style="padding-top: 90px; height: 360px;">
        <h3 style="text-align: center; font-size: 1.4em;">Les derniers rendez-vous pour des travaux</h3>
    </div>
{% endblock %}
