<div style="font-weight: 250; font-size: 0.9em;">
    <a href="{{ path('home') }}" style="color: black;">Annuaire de la maison</a> / {{ city.fullName }} / <strong style="font-weight: 600;">{{ category.name }}</strong>
</div>