<div style="background-color: white; display: flex; margin-bottom: 50px;">
    <div style="width: 30%;">
        {% if pro.firstPicture is not null %}
            <img style="max-width: 100%" src="{{ vich_uploader_asset(pro.firstPicture, 'imageFile') }}" alt="photo de présentation du professionnel">
        {% endif %}
    </div>
    <div style="width: 100%;">
        <h3 style="font-size: 1.3em; margin: 10px;">{{ pro.businessName }}</h3>
        <div style="padding: 10px; background-color: rgba(238, 232, 232, 0.4); width: 100%; display: flex;">
            <p style="width: 40%;">
                <strong>{{ category.name }}</strong>
            </p>
            <p style="width=100%;">
                {{ pro.showCategories }}
            </p>
        </div>
        <div style="display: flex;">
            <div style="width: 50%; border-right: solid rgba(238, 232, 232, 1) 1px; margin-top: 10px;">
            <br><br>
            </div>
            <div style="width: 50%;">
            <br><br>
            </div>
        </div>
    </div>
</div>