{% extends "base.html.twig" %}

{% block title %}
    Trouver des chantiers près de chez vous avec maison.fr 
{% endblock %}

{% block navbar %}
    <nav style="display: flex; margin-top: 10px;">
        <div style="margin-left: 17%;">
            <a href="{{ path('home') }}" id="button-home">
                <img src="/images/logo/maison.png" alt="maison.fr">
            </a>
                <div style="border-top: solid black 1px; margin-left: 5px; margin-right: 7px; text-align: center; font-size: 1.2em; font-weight: 700;">SOLUTIONS BUSINESS</div>
            
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div style="margin-left: 50%; margin-right: 20%; background-color: rgb(241, 179, 45);; padding-left: 3%; padding-right: 3%; padding-top: 1%; padding-bottom: 5%;">

        <h3 style="text-align: center;">OBTENEZ RAPIDEMENT DES RDV QUALIFIES !</h3>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" style="width: 100%;">Je m'inscris !</button>

        {{ form_end(form) }}
    </div>

    <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
        <h1><img src="/images/logo/maison.png" alt="maison.fr">, toujours à vos côtés !</h1>
        <h3><i class="bi bi-phone"></i> 09 71 00 00 00</h3>
    </div>
{% endblock %}