<div class="container mt-2 mb-2">
    {% for key, messages in app.flashes %}
        {% for message in messages %}
            <p class="alert alert-{{ key }}">{{ message }}</p>
        {% endfor %}
    {% endfor %}
</div>


<ul style="color: green;">
    <li>A FAIRE : refactoriser la classe categoryAutoComplete et faire plutot un AutoCompleter qui s'adapte aussi aux villes</li>
</ul>