<nav class="navbar">
    <div class="ms-3">
        <a href="" id="button-home">
            <img src="/images/logo/maison.png" alt="maison.fr">
            <br>
            <span class="ms-1">Le choix des meilleurs pros !</span>
        </a>
    </div>
    <div class="me-4">
        <a id="button-ref" href="">Référencez votre société</a>    
    </div>
</nav>