{% extends "base.html.twig" %}

{% block navbar %}{% endblock %}
{% block flashes %}{% endblock %}
{% block footer %}{% endblock %}


{% block body %}
    <h4>Confirmez votre adresse email</h4>

    <a href="{{ link }}">Cliquez ici</a>
{% endblock %}
