{% extends "base.html.twig" %}

{% block navbar %}{% endblock %}
{% block flashes %}{% endblock %}
{% block footer %}{% endblock %}


{% block body %}
    <h4>Pour réinitialiser le mot de passe, veuillez cliquer sur le lien ci-dessous :</h4>

    <a href="{{ link }}">Réinitialiser le mot de passe</a>
{% endblock %}
